body {
    background-color: rgb(22, 22, 22);
    font-family: Arial, Helvetica, sans-serif;
    color:white
    
}
h1 {
    color: white;
    text-align: left;
    margin: 10px;
}
.assign {
    background-color: rgb(79, 79, 79);
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.assign img {
    width: 200px;
    margin: 10px;
    padding: 10px;
}
