body {
    background-color: rgb(22, 22, 22);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    margin: 10px;
}

h1 {
    color: white;
    text-align: left;
    margin: 10px;
}

h1:hover {
    color: rgb(0, 238, 255);
}

a {
    text-decoration: none;
    color: rgb(85, 142, 255);
}

.assign {
    background-color: rgb(79, 79, 79);
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    border-radius: 10px;
}

.assign img {
    max-width: 100%;
    max-height: 12rem;
    display: block;
    margin: auto;
    border: 2px solid gray;
}

.assign img:hover {
    border: 2px solid white;
}

.assign h2 {
    margin-bottom: 10px;
}

/* Media queries for responsiveness */

@media (min-width: 500px) {
    .tile-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .assign {
        flex-basis: 41%;
    }
}

@media (min-width: 768px) {
    
}

@media (min-width: 1000px) {
    .assign {
        flex-basis: 29%;
    }
    
}

@media (min-width: 1500px) {
    .assign {
        flex-basis: 22%;
    }
}